html,
body {
  --white: #c1c1c1;
  --bg-color: #1a2131;
  --h-line-color: #384665;
  --v-line-color: #222b3f;

  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  position: relative;
}

.container {
  padding: 24px;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  font-size: 12px;
}

.gridContainer {
  border: 3px solid var(--h-line-color);
}

.vertLine {
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: var(--v-line-color);
}

.horizontalLine {
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: var(--h-line-color);
}

.noteContainer {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.4s ease;

  font-size: 1em;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.6);
}

.noteDot {
  height: 32px;
  width: 32px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.7s ease, color 0.1s ease;
}

.input {
  padding: 10px 15px;
  background-color: var(--bg-color);
  border: 3px solid var(--h-line-color);
  border-radius: 10px;
  color: var(--white);
}
